{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Accueil</h1>
    
    <div>
        <h2>Liste des utilisateurs</h2>
        {{dump(users)}}
    </div>

    <div>
        <h3>Formulaire d'ajout</h3>
        {{ form(formUsers) }}
    </div>


    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/merwan/Bureau/IPSSI/Symfony/ipssi_symfony_exone/src/Controller/LandingController.php'|file_link(0) }}">src/Controller/LandingController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/merwan/Bureau/IPSSI/Symfony/ipssi_symfony_exone/templates/landing/index.html.twig'|file_link(0) }}">templates/landing/index.html.twig</a></code></li>
    </ul> #}

</div>
{% endblock %}
